tensorflow==2.1
tensorboard==2.1.0
bigdl==0.11.1
gym
torch==1.4.0
torchvision==0.3.0
ray==0.8.4
ray[tune]
ray[rllib]
sklearn
xgboost==1.1.1
nlp-architect
bert
onnx
mxnet
matplotlib
featuretools
nets
numpy
pandas
pyyaml
tensorflow_gan
gluonnlp
horovod==0.19.5
