click
colorama
colorful
filelock
flatbuffers
jsonschema
mock
bigdl
tensorflow==1.15.0
horovod
torch
gym
ray
ray[tune]
ray[rllib]
sklearn
xgboost
nlp-architect
bert
onnx
mxnet
matplotlib

numpy
opencv-python-headless==4.3.0.36
pandas
pickle5
pillow
pydantic
pygments
pyyaml
recommonmark
redis


sphinx-click
sphinx-copybutton
sphinxemoji
sphinx-gallery
sphinx-jsonschema
sphinx-tabs
sphinx-version-warning
scikit-optimize
