click
colorama
colorful
filelock
tensorflow==1.15.0
bigdl
torch
gym
ray
ray[tune]
ray[rllib]
sklearn
xgboost
nlp-architect
bert
onnx
mxnet
matplotlib
featuretools
jep
nets
numpy
pandas
pillow
pygments
pyyaml
recommonmark
tensorflow_gan
gluonnlp
sphinx-click
sphinx-copybutton
sphinxemoji
sphinx-gallery
sphinx-jsonschema
sphinx-tabs
sphinx-version-warning
scikit-optimize
